$baseTahoma = Tahoma, Geneva, sans-serif
$baseGeorgia = Georgia, serif


$darkGrey = #3c3c3c
$grey = #bcbcbc
$lightGrey = #e0e0e0
$shadow = #7f7f7f


$linkColor = #82b70f
$bgColor = #3c3c3c


vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

/*border-radius()*/
  /*vendor('border-radius', arguments)*/

/*background-image()*/
  /*vendor('background-image', arguments)*/


