$baseTahoma = Tahoma, Geneva, sans-serif
$baseGeorgia = Georgia, serif
$baseVerdana = Verdana, Helvetica, Arial, sans-serif;


$darkGrey = #3c3c3c
$grey = #bcbcbc
$lightGrey = #e0e0e0
$shadow = #7f7f7f

$shadow = 0 5px 5px 0 rgba(0,0,0,.75)

$linkColor = #82b70f
$bgColor = #3c3c3c

$baseImgHref = "images/sprite-images.png"

h1
  color: #fff;
  font: bold 24px/27px $baseGeorgia;

h2
  color: #fff;
  font: bold 20px/24px $baseGeorgia;

h3
  color: $bgColor;
  font: bold 14px/22px $baseTahoma;

a
  color $linkColor

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

.left
  float left

.right
  float right

.clearfix
  clearfix()