html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
font-weight: inherit;
font-style: inherit;
font-family: inherit;
font-size: 100%;
vertical-align: baseline;
margin: 0;
padding: 0;
border: 0;
outline: 0;
line-height: 1;
color: #000;
background: #fff;
border-collapse: separate;
border-spacing: 0;
vertical-align: middle;
text-align: left;
font-weight: normal;
vertical-align: middle;
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
html {
  height: 100%;
  position: relative;
}
body {
  background-color: #3c3c3c;
  color: #3c3c3c;
  width: 100%;
  height: 100%;
  font: 12px Tahoma, Geneva, sans-serif;
}
.bg-grad {
  position: relative;
  min-width: 900px;
}
.bg-grad:before {
  z-index: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 7px;
  border-top: 1px solid #ebebeb;
  background-color: #80a823;
  -webkit-background: linear-gradient(to bottom, #a3ba68 0%, #9ec149 17%, #95c130 33%, #8dbf20 50%, #83b60f 67%, #83b50b 83%, #80a823 100%);
  -moz-background: linear-gradient(to bottom, #a3ba68 0%, #9ec149 17%, #95c130 33%, #8dbf20 50%, #83b60f 67%, #83b50b 83%, #80a823 100%);
  -ms-background: linear-gradient(to bottom, #a3ba68 0%, #9ec149 17%, #95c130 33%, #8dbf20 50%, #83b60f 67%, #83b50b 83%, #80a823 100%);
  -o-background: linear-gradient(to bottom, #a3ba68 0%, #9ec149 17%, #95c130 33%, #8dbf20 50%, #83b60f 67%, #83b50b 83%, #80a823 100%);
  background: linear-gradient(to bottom, #a3ba68 0%, #9ec149 17%, #95c130 33%, #8dbf20 50%, #83b60f 67%, #83b50b 83%, #80a823 100%);
}
.bg-grad:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 435px;
  border-top: 1px solid #ebebeb;
  background-color: #606060;
  -webkit-background: linear-gradient(to bottom, #606060 0%, #5e5e5e 34%, #585858 46%, #454545 65%, #3f3f3f 75%, #3c3c3c 100%);
  -moz-background: linear-gradient(to bottom, #606060 0%, #5e5e5e 34%, #585858 46%, #454545 65%, #3f3f3f 75%, #3c3c3c 100%);
  -ms-background: linear-gradient(to bottom, #606060 0%, #5e5e5e 34%, #585858 46%, #454545 65%, #3f3f3f 75%, #3c3c3c 100%);
  -o-background: linear-gradient(to bottom, #606060 0%, #5e5e5e 34%, #585858 46%, #454545 65%, #3f3f3f 75%, #3c3c3c 100%);
  background: linear-gradient(to bottom, #606060 0%, #5e5e5e 34%, #585858 46%, #454545 65%, #3f3f3f 75%, #3c3c3c 100%);
}
.wrapper {
  width: 862px;
  padding: 0 19px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.header {
  min-height: 185px;
  position: relative;
  padding-top: 8px;
}
.header__logo {
  position: absolute;
  top: 8px;
}
.header__contact {
  position: absolute;
  right: 0;
  top: 25px;
  color: #e0e0e0;
  font-size: 24px;
  text-align: right;
  width: 200px;
}
.header__contact-tel {
  font-size: 11px;
  color: #c6c6c6;
}
.header__contact-lnk {
  text-decoration: none;
  color: #82b70f;
  border-bottom: 1px dashed #82b70f;
  font-size: 12px;
  position: relative;
  top: -8px;
}
.header__menu {
  margin: 15px 215px;
}
.header__info {
  margin: 84px 0 0;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.logo {
  display: block;
  background: #000;
  width: 155px;
  height: 122px;
  text-decoration: none;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 7px #313131;
  -moz-box-shadow: 0 5px 7px #313131;
  -ms-box-shadow: 0 5px 7px #313131;
  -o-box-shadow: 0 5px 7px #313131;
  box-shadow: 0 5px 7px #313131;
}
.logo__img {
  width: 100%;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.main-menu {
  font-size: 15px;
}
.main-menu__item {
  color: #82b70f;
  position: relative;
  padding-left: 30px;
  line-height: 40px;
}
.main-menu__item:before {
  -webkit-background: linear-gradient(145deg, #fff 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
  -moz-background: linear-gradient(145deg, #fff 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
  -ms-background: linear-gradient(145deg, #fff 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
  -o-background: linear-gradient(145deg, #fff 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
  background: linear-gradient(145deg, #fff 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
}
.main-menu__item:before,
.main-menu__item:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid #f6f6f6;
}
.main-menu__item:after {
  border: 2px solid transparent;
}
.main-menu__item:hover:before,
.main-menu__item:hover:after {
  width: 18px;
  height: 18px;
  margin-top: -11px;
  margin-left: -3px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
}
.main-menu__item-wrp {
  min-width: 128px;
  display: inline-block;
  vertical-align: top;
}
.main-menu__item_col_pers-green:before {
  background-color: #158f93;
}
.main-menu__item_col_jazz-jem:before {
  background-color: #d01d74;
}
.main-menu__item_col_deep-or-ye:before {
  background-color: #e16a00;
}
.main-menu__item_col_mus-green:before {
  background-color: #179d18;
}
.main-menu__item_col_purple-heart:before {
  background-color: #514bd6;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.info {
  display: block;
  font: 13px arial, sans-serif;
  zoom: 1;
}
.info:before,
.info:after {
  content: "";
  display: table;
}
.info:after {
  clear: both;
}
.info__item {
  width: 33.3%;
  height: 256px;
  float: left;
  position: relative;
  overflow: hidden;
  border-left: 1px solid #565757;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.info__item:first-child {
  border-left: none;
}
.info__item_type_left {
  background: #565757 url("images/sprite-images.png") 39px 13px no-repeat;
}
.info__item_type_center {
  background: #3b3b3b url("images/sprite-images.png") -248px 13px no-repeat;
}
.info__item_type_right {
  background: #1f201f url("images/sprite-images.png") -535px 13px no-repeat;
}
.info__item-text {
  letter-spacing: -1px;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 203px;
  width: 100%;
  height: inherit;
  background: rgba(0,0,0,0.7);
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 12px;
  -webkit-transition: top 1s ease-out 0.5s;
  -moz-transition: top 1s ease-out 0.5s;
  -ms-transition: top 1s ease-out 0.5s;
  -o-transition: top 1s ease-out 0.5s;
  transition: top 1s ease-out 0.5s;
}
.info__item-text:hover {
  top: 0;
}
.info__item-t-head {
  border-bottom: 1px dashed #fff;
}
.info__item-t-par {
  margin-bottom: 12px;
}
.info__item-t-par:first-child {
  min-height: 30px;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  padding: 0 0 147px;
  position: relative;
}
.middle:after {
  display: table;
  clear: both;
  content: '';
}
.container {
  width: 100%;
  float: left;
/*overflow hidden*/
  margin-bottom: -42px;
}
.content {
  margin: 0 227px 0 0;
  background: #bcbcbc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);
  -ms-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);
  -o-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);
}
.content__header {
  padding: 10px 0 5px;
}
.content__item {
  margin-bottom: 35px;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.list {
  margin: 7px 0;
}
.list__item {
  padding: 3px 0;
  margin-left: 17px;
}
.list__item:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: url("images/sprite-images.png") no-repeat 0 -211px;
  margin-right: 7px;
  margin-left: -17px;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.slogan {
  padding: 29px 0 34px;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.btn-set {
  margin: 13px 0;
  text-align: right;
}
.btn-set__button {
  color: #fff;
  font: bold 11px/18px Verdana, Helvetica, Arial, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid #81b900;
  border-bottom: 1px solid #6d8e00;
  border-left: none;
  border-right: none;
  padding: 0 15px;
  background-color: #82b70f;
  -webkit-background: linear-gradient(to bottom, #a2cc46 0%, #99c333 18%, #8ab51d 35%, #7aa901 41%, #6e8f00 100%);
  -moz-background: linear-gradient(to bottom, #a2cc46 0%, #99c333 18%, #8ab51d 35%, #7aa901 41%, #6e8f00 100%);
  -ms-background: linear-gradient(to bottom, #a2cc46 0%, #99c333 18%, #8ab51d 35%, #7aa901 41%, #6e8f00 100%);
  -o-background: linear-gradient(to bottom, #a2cc46 0%, #99c333 18%, #8ab51d 35%, #7aa901 41%, #6e8f00 100%);
  background: linear-gradient(to bottom, #a2cc46 0%, #99c333 18%, #8ab51d 35%, #7aa901 41%, #6e8f00 100%);
  -webkit-box-shadow: 8px 0 5px -5px #6d8e00 inset;
  -moz-box-shadow: 8px 0 5px -5px #6d8e00 inset;
  -ms-box-shadow: 8px 0 5px -5px #6d8e00 inset;
  -o-box-shadow: 8px 0 5px -5px #6d8e00 inset;
  box-shadow: 8px 0 5px -5px #6d8e00 inset;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.clause {
  background-color: #3c3c3c;
  -webkit-background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  -moz-background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  -ms-background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  -o-background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  font: bold 14px/35px Verdana, Helvetica, Arial, sans-serif;
  padding-right: 65px;
  position: relative;
}
.clause__switch {
  font: normal 12px Verdana, Helvetica, Arial, sans-serif;
  border-bottom: 1px dashed #fff;
  position: absolute;
  right: 15px;
  top: 10px;
}
.clause__content {
  font: normal 12px Verdana, Helvetica, Arial, sans-serif;
  padding: 10px 0;
}
h1 {
  color: #fff;
  font: bold 24px/27px Georgia, serif;
}
h2 {
  color: #fff;
  font: bold 20px/24px Georgia, serif;
}
h3 {
  color: #3c3c3c;
  font: bold 14px/22px Tahoma, Geneva, sans-serif;
}
.spoiler__show,
.spoiler__hide {
  border-bottom: 1px dashed;
  cursor: pointer;
}
.spoiler__hide,
.spoiler__content {
  display: none;
}
.spoiler__controller {
  display: none;
}
.spoiler__controller:checked + label .spoiler__show {
  display: none;
}
.spoiler__controller:checked + label .spoiler__hide {
  display: inline;
}
.spoiler__controller:checked ~ .spoiler__content {
  display: block;
  height: auto;
}
/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
  float: left;
  width: 205px;
  margin-left: -205px;
  position: relative;
  background: #ffacaa;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
/*width 862px*/
  margin: -147px auto 0;
  height: 147px;
  min-width: 900px;
  background: #959595;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #666;
  z-index: -1;
}
.footer__content {
  margin: 50px auto 30px;
  text-align: center;
  width: 800px;
  color: #cfcfcf;
}
