@import '../base'

.header
  min-height 185px
  position relative
  padding-top 8px

  &__logo
    position absolute
    top 8px

  &__contact
    position absolute
    right 0
    top 25px
    color $lightGrey
    font-size 24px
    text-align right
    width 200px

  &__contact-tel
    font-size 11px
    color #c6c6c6

  &__contact-lnk
    text-decoration none
    color $linkColor
    border-bottom 1px dashed $linkColor
    font-size 12px
    position: relative;
    top: -8px;

  &__menu
    margin 15px 215px

  &__info
    margin 84px 0 0