@import '../base'

.list
  margin 7px 0

.list__item
  padding 3px 0
  margin-left 17px

  &:before
    content ""
    display inline-block
    vertical-align middle
    width: 10px
    height: 10px
    background url($baseImgHref) no-repeat 0 -211px
    margin-right 7px
    margin-left -17px