@import '../base'

.logo
  display block
  background #000
  width 155px
  height 122px
  text-decoration none
  border-radius 0 0 10px 10px
  overflow hidden
  box-shadow 0 5px 7px #313131

  &__img
    width 100%